<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066328693183-d2921t28j00ogvli93dpfpb580kj72o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066328693183-d2921t28j00ogvli93dpfpb580kj72o5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066328693183-6virk0oq3jpg13n81gmt5ndafs985qfb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4BCOlnIHuY7zGQrnVMtZ_6HJPmdYgsyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066328693183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartAttendee</string>
	<key>PROJECT_ID</key>
	<string>tusharproject-740b6</string>
	<key>STORAGE_BUCKET</key>
	<string>tusharproject-740b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066328693183:ios:60e99b73ad16aea96f290a</string>
</dict>
</plist>